<!-- 预约管理 - 编辑预约页面 -->
<ion-header>
  <zk-nav-bar titleMsg="PAGE_VISRESERVE">
  </zk-nav-bar>
</ion-header>
<ion-content has-subheader="false" center no-bounce class="no-scroll" (swiperight)="goBack()">
  <ion-row class="vis-top row" *ngIf="isVisited==0">
    <ion-col col class="page-item-box" align="center" col-12>
      <zk-icon name="vis-appointment-already" class="vis-img"></zk-icon>
    </ion-col>
  </ion-row>
  <ion-row class="vis-top row" *ngIf="isVisited==2">
    <ion-col col class="page-item-box1" align="center" col-12>
      <zk-icon name="vis-appointment-abate" class="vis-img1"></zk-icon>
    </ion-col>
  </ion-row>
  <ion-list no-lines>
    <ion-item class="vis-item">
      {{'VIS_INTERVIEWEEINFO'|translate}}
    </ion-item>
    <ion-item class="pers-add-item">
      <ion-label item-left>{{'VIS_NAME'|translate}}</ion-label>
      <span item-right class="vis-span-right">
        {{resDent.name}}<span *ngIf="resDent.pin!=null && resDent.pin!=''">({{resDent.pin}})</span>
      </span>
    </ion-item>
    <ion-item class="pers-add-item">
      <ion-label item-left>{{'VIS_DEPARTMENT'|translate}}</ion-label>
      <span item-right class="vis-span-right">
        {{deptParam.text}}
      </span>
    </ion-item>
    <ion-item class="vis-item">
      {{'VIS_VISITPEOPLEINFO'|translate}}
    </ion-item>
    <ion-item class="pers-add-item pers-gender">
      <ion-label item-left>
        {{'VIS_IDTYPE'|translate}}
      </ion-label>
      <button class="vis-btn-right" color="light" item-end>
        {{certType}}
      </button>
    </ion-item>
    <ion-item class="pers-add-item pers-gender">
      <ion-label item-left>
        {{'VIS_IDNO'|translate}}
      </ion-label>
      <ion-input item-right type="text" placeholder="" [(ngModel)]="visCertNumber" disabled="true"></ion-input>
    </ion-item>
    <ion-item class="pers-add-item">
      <ion-label *ngIf="lang === 'zh'" item-left>
        {{'COMMON_NAME'|translate}}
      </ion-label>
      <ion-label *ngIf="lang !== 'zh'" item-left>
        {{'COMMON_FIRSTNAME'|translate}}
      </ion-label>
      <ion-input item-right type="text" placeholder="" [(ngModel)]="visName" disabled="true"></ion-input>
    </ion-item>
    <ion-item *ngIf="lang !== 'zh'" class="pers-add-item">
      <ion-label item-left>{{ 'PERS_LASTNAME'|translate }}</ion-label>
      <ion-input item-right type="text" [(ngModel)]="lastName" disabled="true"></ion-input>
    </ion-item>
    <ion-item class="pers-add-item">
      <ion-label item-left>
        {{'VIS_COMPANY'|translate}}
      </ion-label>
      <ion-input item-right type="text" placeholder="" [(ngModel)]="visCompany" disabled="true"></ion-input>
    </ion-item>
    <ion-item class="pers-add-item pers-gender">
      <ion-label item-left>
        {{'VIS_MOBILENO'|translate}}
      </ion-label>
      <ion-input item-right type="text" placeholder="" [(ngModel)]="visPhone"  disabled="true"></ion-input>
    </ion-item>
    <ion-item class="pers-add-item pers-gender">
      <ion-label item-left>{{'VIS_VISITINGTIME'|translate}}
      </ion-label>
      <ion-input item-right placeholder="" [(ngModel)]="selDate"  disabled="true"></ion-input>
      <zk-icon name="vis-calendar" style="color: #7ac143" item-right></zk-icon>
    </ion-item>
    <ion-item class="pers-add-item pers-gender">
      <ion-label item-left>
        {{'VIS_VISITTHEREASON'|translate}}
      </ion-label>
      <span class="vis-span-right" color="light"  item-end>
        {{reasonType}}
      </span>
    </ion-item>

   </ion-list>

</ion-content>
