page-parkEntranceArea{
  ::-webkit-scrollbar {//去掉滚动条
    display: none !important;
  }

  ion-title {
    text-align: center;
  }

  .item-overflow{
    width: 80%;
    height:100%;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
  }
}
