page-parkTemporaryTreeModal{
  zk-tree .zktree-box .zktree-node .zktree-item {
    position: relative;
    padding: 5px 0px 5px 10px;
    font-size: 1.6rem;
  }
  .content{
    background-color: #FFFFFF;
  }
}
