page-parkPavilioDetail{
  ::-webkit-scrollbar {//去掉滚动条
    display: none !important;
  }

  ion-title {
    text-align: center;
  }
  .charge-list-margin{
    margin-top:$zk-top-width;
  }
  .item-right-color{
    color:#9F9F9F;
  }
  .item-left-color{
    padding-left: 3rem;
  }
  .item-left-color1{
    padding-left: 5rem;
  }
  .item-left{
    padding-left: 3rem;
  }

  .list {
    .item {
      border-bottom: $zk-border-style;
      .item-inner {
        border-bottom-width: 0;
      }
    }
  }
  .item-right-color1 {
    color: #9F9F9F;
    text-align: right;
    width: 15rem;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    margin: 0px;
  }

  .vis-top{
    width:100%;
    background-color: #ffffff;
    color:#2F2F2F;
  }
  .vis-img {
    background-color: yellowgreen;
    color: #ffffff;
    width: 10rem;
    height: 10rem;
  }
  .page-item-box {
    width: 25%;
    padding: 1rem 0rem!important;
    zk-icon {
      line-height: 8rem;
      border-radius: 50%;
      text-align: center;
      font-size: 4.5rem;
      background-color: #7ac143;
      padding: 1rem 1.6rem;
      border: 0.4rem;
    }
  }
  .car-title{
    font-weight: bold;
  }

  .col {
    padding: 0px;
  }
  .item-two{
    width:100%;
    background:#fff;
  }
  .item-two .text-input{
    text-align: right;
    color:#999;
  }
  .point{
    display: inline-block;
    color: red;
    margin-bottom: 0.5rem;
  }
}
