page-parkCarSetTreatment{
  .item-left-color1{
    padding-left: 5rem;
  }
  .item-right-color1 {
    color: #9F9F9F;
    text-align: right;
  }
  .item-two{
    width:100%;
    background:#fff;
  }
  .item-two .text-input{
    text-align: right;
    color:#999;
  }
  .list {
    margin-top:$zk-top-width;
  }
}
